/__pycache__
*.db
/base
_config.yml
/.idea
CotacaoAtualBolsa.py
dados_basicos_pb.db
dados_basicos_pb.db
Dah.py
dados_basicos_pb.db
teste1.py
*.iml
.idea/Investimentos.iml
.idea/misc.xml
__pycache__/Carteira.cpython-36.pyc
*.txt
EstudoHistFund.py
.idea/workspace.xml
dados_basicos_pb.db
